[user]
    email = vigneshsubbaram@gmail.com
    name = vsubbaram

[color]
    ui = auto

[core]
    pager = delta
    excludesfile = ~/.config/git/.gitignore

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = light     # or light = true, or omit for auto-detection
    side-by-side = true
    features = git

[merge]
    conflictStyle = zdiff3

[include]
    path = ~/config/git/themes.gitconfig

